# Logs
logs
*.log
npm-debug.log*

# Output directories
build/Release
dist

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

